:root {
	--background: #e5e5e5;
	--text-color: #3e4043;
	--yellov: #ffc339;
	--bg-img: #fcfcfc;
	--dark: #a4a4a4;
	--line-color: #cccccc;
	--main-transition: 0.4s all linear;
}
body {
	margin: 0;
}
.menu_head {
	color: var(--text-color);
	height: auto;
	
}
.menu {
	height: auto;
	background: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	font-style: normal;
	/* margin:auto */
	background-image: url(../../../assets/images/food/menu-bg-imgs/Group\ 1255.svg),
		url(../../../assets/images/food/menu-bg-imgs/food1.svg),
		url(../../../assets/images/food/menu-bg-imgs/food2.svg);
	background-position: left 0 top 90px, right 20px top 500px, left 30% top 600px;
	background-attachment: local;
	background-repeat: no-repeat;
	transition: var(--main-transition);
}

.menu h1 {
	margin: 0;
	padding: 60px;
	text-align: center;
	font-size: 48px;
}
.categories {
	display: flex;
	justify-content: space-around;	
	width: auto;
	height: 160px;
	overflow-x: auto;
}
.section {
	margin: 0 30px;
	justify-content: space-around;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	transition: var(--main-transition);
}
.section:hover {
	color: var(--yellov);
	cursor: pointer;
}
.section::after {
	opacity: 0;
	content: '';
	width: 10px;
	height: 10px;
	position: relative;
	bottom: -6px;
	transform: rotate(135deg);
	border: solid var(--line-color);
	border-width: 1px 1px 0 0;
	background-color: var(--background);
	transition: var(--main-transition);
}
.section:hover:after {
	display: block;
	opacity: 1;
}

.categories {
	border-bottom: 1px solid var(--line-color);
	max-width: 1000px;
	margin: 50px auto;
}

.food-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	/* max-width: 1400px; */
	padding: 2rem 0;
	height: auto;
	margin: auto;
}


@media screen and (max-width: 900px) {
	.menu {
		background-image: none;
		position: relative;
	} 
	.categories {
		display: flex;
		justify-content: space-around;	
		width: auto;
		height: 100px;
		overflow-x: auto;
	}
	.section img {
		display: none;
	}

}

